<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="/css/lists.css">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/256/6193/6193691.png">
</head>
<body>
    
    <h1 class="first">to-do-list</h1>
    
    <div class="main">

    <div class="box">
    
    <div class="div1">
        <h1><%= kindOfDay %></h1>
    </div>    

    <div class="div2">
        <ul>
            
            <%AddedItem.forEach(function(e){%>
                <form action="/delete" method="post">
                    <input type="checkbox" name="checkbox" value="<%=e._id%>" id="ch" onChange="this.form.submit()">
                    <label for="ch"><%= e.name %></label>
                    <br>
                    <input type="hidden" name="listName" value="<%=kindOfDay%>"></input>
                </form>
            <%})%>
            
        </ul>   
    </div>
    

    <div class="div3">
        <form action="/" method="post">
        <input type="text" name="newItem" placeholder="add new item" class="enter" required>
        <button type="submit" name="list" value="<%=kindOfDay%>">+</button>
    </form>
    </div>

    </div>

    </div>

     <div class="footer">
        © 2023 |
        <span class="auto-type"></span>
    </div>

    <div class="box2">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/lists.js"></script>
</body>
</html>